{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<body>
    <nav>
        <a href="/"> <span class="nav-logo"> Help_se </span> </a>
        <ul>
            {% if logado %}
            <div class="buttons">
                <a href="perfil"><button class="primary">Perfil</button></a>
                <button id="btn-sair" class="btn-sair secondary">Sair</button>
            </div>

            {% else %}
            <div class="show-dropdown">
                <button>Entrar ⬇️ </button>
                <div class="dropdown-content">
                    <li>instituição</li>
                    <li>paciente</li>
                </div>
            </div>

            {% endif %}
        </ul>
        <!-- --------------------------------------BOTOES DA NAV RESPONSIVA -->
        <div class="pesquisa mobile-only">
            <a href="#header">
                <img class="" draggable="false" src="{% static 'img/search.svg' %}" alt="">
            </a>
        </div>

        <div class="menu-button mobile-only" id="menu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>


    <main>
        <div class="blank">'</div>

        <header id="header">
            <div class="info-content">
                <h1>Serviços de psicoterapia no precinho, e perto de vc</h1>

            </div>


            <div class="input-container">
                <form method="get" class="search-bar especialidade" action="/busca_especialidade">
                    <input class="text input" data-js="pesquisa-especialidade" name='q' id="id_q" type="text"
                        placeholder="busque por especialidade">
                    <img class="input-icon" draggable="false" src="{% static 'img/search.svg' %}" alt="">
                </form>

                <form method="get" class="search-bar localidade" action="/busca_localidade">
                    <input class="text input" name='q' type="text" data-js="pesquisa-localidade"
                        placeholder="busque por localidade">
                    <img class="input-icon" draggable="false" src="{% static 'img/pin.svg' %}" alt="">
                </form>

                <!-- Ao pesquisar o django limpa o input, usamos js pra manter o que foi digitado no lugar -->
                <script>
                    document.querySelector('[data-js="pesquisa-especialidade"]').value = '{{query}}';
                    document.querySelector('[data-js="pesquisa-localidade"]').value = '{{query_l}}';
                </script>
            </div>


            {% if mostrar_resultados %}
            <section class="resultados">
                <h2> encontramos {{num_resultados}} resultados para {{query}}</h2>
                <ul class="ul-resultados">
                    {% if object_list %}
                    {% for inst in object_list %}
                    <li>
                        <div class="instituicao-container">
                            <span class="row">
                                <img src="{% static 'img/adwords.svg' %}" alt="">
                                <h3>{{inst.nome_empresa}}</h3>
                            </span>

                            <span class="column">
                                <h3>presencial</h3>

                                <p>{{inst.municipio}}</p>
                            </span>

                            <span class="info-distancia">1km</span>
                        </div>
                    </li>

                    {% endfor %}

                    {% else %}
                    <li>
                        <div class="instituicao-container">
                            <p>nao achamos nada</p>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </section>
            {% endif%}
        </header>


        <!--------------------------------- 1: SECTION SOBRE O PROJETO -------------------------------------------->
        <section class="projeto-section">

            <div class="projeto">
                <div class="img"><img src="../static/img/choice.png" alt=""></div>
                <div class="txt-projeto">
                    <h1>Help.se</h1>
                    <p> O Help.se foi criado com o intuito de auxiliar jovens com disturbíos de
                        depressão e
                        ansiedade a procurarem tratamento de forma prática e simples. </p>
                    <p>Por meio dela, poderemos aproximar
                        jovens
                        com
                        instituições e consultórios que os auxiliarão em um tratamento adequado.
                    </p>
                    <a href="cadastro"><button class="cadastrobtn">Faça Parte</button></a>
                </div>
            </div>
        </section>


        <!-------------------------------------- 2: SECTION DO CARROSSEL ----------------------------------------->

        <section class="carrossel">
            <div class="gif"></div>
            <div class="box-text">
                <h2> Segundo a OMS (Organização Mundial de Saúde) <br> 4,4% da população mundial sofrem com depressão,
                    sendo
                    5,8% no Brasil
                </h2>
            </div>

            <div class="box-text">
                <h2> O Brasil é recordista mundial em transtornos de ansiedade,<br>sendo 9,3% de brasileiros que
                    constantemente sofrem com esse transtorno.</h2>
            </div>

            <div class="box-text">
                <h2>De acordo com o instituto de psiquiatria do hospital das clinícas,<br> cerca de 10% de crianças e
                    adolescentes sofrem com ansiedade.
                </h2>
            </div>

            <div class="box-text">
                <h2>Estudos da UFRN citam fatores de risco
                    que deixam os estudantes vulneráveis à depressão, como distância de casa, dificuldades financeiras e
                    principalmente a pressão. 5% desses jovens declararam tentativa de suicídio.</h2>
                </h2>

            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(+1)">&#10095;</a>

            <div class="navegation">
                <label class="dot" onclick="currentSlide(1)"></label>
                <label class="dot" onclick="currentSlide(2)"></label>
                <label class="dot" onclick="currentSlide(3)"></label>
                <label class="dot" onclick="currentSlide(4)"></label>
            </div>

        </section>

        <!----------------------------- 3: SECTION SOBRE AS VANTAGENS DA PLATAFORMA --------------------------->
        <section class="sobre">

            <h2> BENEFÍCIOS DA PLATAFORMA </h2>

            <div class="sobre-content">
                <div class="items">
                    <img src="{% static 'img/icons/video-call.svg' %}" alt="">
                    <h2> Consultas Dinâmicas </h2>
                    <p> Atendimento online e presencial a escolha do cliente, <br>rápido e simples, é só conectar.</p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/heart.svg' %}" alt="">
                    <h2> Cuidando da Saúde
                    </h2>
                    <p> Feedbacks constantes de como está evoluindo seu tratamento <br> te animando a continuar. </p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/map-location.svg' %}" alt="">
                    <h2> Facilidade de Busca </h2>
                    <p> Encontre os melhores consultórios e instituições <br>mais próximo de você.</p>
                </div>
                <hr>
            </div>


        </section>

        <!------------------------------- 4: FOOTER --------------------------------------->

        <footer>
            <h3>O projeto foi desenvolvido com 💙 por</h3>
          
            <ul>
                <li> <a href="https://www.linkedin.com/in/b%C3%A1rbara-moreira-683880188/">Barbara Moreira</a> </li>
                <li> <a href="https://www.linkedin.com/in/lorrany-hengles-332726159/"> Lorrany Hengles</a></li>
                <li> <a href="https://www.linkedin.com/in/pedrolopesrufino/"> Pedro Rufino</a> e </li>
                <li> <a href="https://www.linkedin.com/in/vitor-castorino-teodoro-329987118/"> Vitor Castorino</a> </li>
            </ul>
        </footer>


        <!----------------- LOGIN ----------------->

        <div id="modal" class="login-container">
            <div class="login">
                <button class="btnfechar">x</button>
                <p class="p-login">Entre</p>
                <form class="form-login" method="POST" action="/login">
                    {% csrf_token %}
                    <p>Digite seu e-mail:</p>
                    <input type="email" name="email" placeholder='exemplo@gmail.com' required>
                    <p>Digite sua senha:</p>
                    <input type="password">
                    <p class="msg"> {{msg}}</p>
                    {% if logado %}
                    <p class="msg">esta logado</p>
                    {% endif %}
                    <input class="entrarbtn" type="submit" value="Entrar" href="perfil">
                </form>
            </div>
        </div>
        {% if modal_ativo %}
        <script>
            document.getElementById('modal').classList.add('mostrar');
        </script>
        {% endif %}
    </main>
</body>

{% endblock %}